@media screen and (max-width: 730px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


@media screen and (min-width: 992px){
    .banner{
        
    }
    .item-banner{
        max-width: 440px;
        line-height: 30px;

    }
    .item-banner h2{
        padding: 20px 0;
    }
    .img-banner{
        height: 450px;
    }
    .primeiro-anuncio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: justify;
    }
    .btn-preços {
        text-align: center;
        margin-bottom: 12px;
        padding-top: 15px;
    }

    .media-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .itens-info{
        margin: 15px;
    }
    .img-info{
        height: 160px;
    }
}

